.container {
    width: 100%;
    
}
.navbar {
    height: 80px;
}

.navbar-brand {
    float: none;
    margin: auto;
}

h1 {
    font-size: 30px;
}

#city-view {
    margin-bottom: 20px;
}

#search-city {
    background: blue;
    border-radius: 5px;
    border-color: lightblue;
    width: 35px;
    height: 35px;

}
#city-input {
    border: 2px solid lightgray;
    height: 35px;
    border-radius: 4px;
}

.search i {
    color: white;
}

#text {
    font-size: 20px;
    font-weight: bold;
}

.card {
 float: left;
 background: blue;
 color: white;
 margin-right: 20px;
 padding: 10px;
}

.forecast-view {
 margin-top: 10px;
}

#search-wrapper {
    background: #ebebeb;
    height: 600px;
    width: 100%; 
    border: 1px solid lightgray;
}

#weather-wrapper {
    padding-left: 70px;
    border: 1px solid lightgray;
}

